.txt-topic {
    color: rgb(39, 74, 107);
    background-color: lightslategray;
    font-size: 4rem;
    font-weight: 900;
}

.txt-detail {
    color: rgb(107, 103, 39);
    background-color: rgb(119, 153, 137);
    font-size: 4rem;
    font-weight: 900;
}

.txt-topic:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#nav-bar {
   color: blue;
   background-color: white;
   padding: 1rem;
   text-align: center;
}

p,h1,h2,h3,a {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}